.AboutCardContainer{
    @apply flex flex-col items-center justify-center w-auto
    sm:max-w-[300px]
    md:w-[350px]
    xl:max-w-[380px]

}
.AboutCardTitle{
    @apply text-base font-bold text-[#1E1E1E] mt-2
    lg:text-lg
}
.AboutCardDesc{
    color: rgba(30, 30, 30, 0.5);
    @apply text-sm font-semibold mt-1 text-center
    lg:text-base
}
.AboutCardImg{
    @apply w-[20%]
    sm:w-[20%]
    md:w-auto
}