.AboutContainer{
    @apply flex flex-col items-center justify-center w-full py-10 px-6
    md:px-0
}
.AboutContent{
    @apply flex flex-col items-center justify-between w-full mt-10 space-y-6
    md:flex-row md:w-[90%] md:space-y-0 md:space-x-4
    xl:space-x-0
}
.AboutTitle{
    @apply text-4xl font-bold text-[#1E1E1E]
    md:text-5xl
}
.AboutDesc{
    color: rgba(30, 30, 30, 0.5);
    @apply text-sm font-semibold mt-2 text-center
    md:text-base

}